h1 {
    text-align: center;
    color: crimson;
    font-size: xx-large;
  }
  p {
    text-align: center;
    color: yellow;
    font-size: x-large
  }
  body  {
    background: url("tt3.jpg");
    background-size: contain;
  }
  .parag  {
    color: limegreen;
  }